:root{
    /* color */
    --color-background-grey: #25272B;
    --color-white: #EAFFFF;
    --color-dark-grey: #202020;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

}
body{
    background-color: var(--color-background-grey);
    color: var(--color-white);
    margin: 0px;
}
/* Profile */

#Profile {
    padding-top: 50px;
    text-align: left;
    margin: 0px;
    border: 0px;
    flex-direction: column;
    background-image: url(../img/star.gif);
    background-size: cover;
    padding-bottom: 15%;
    display: inline-block;
    position: sticky;
    top: 0px;
}

#Profile img{
    display: flex;
    text-align: left;
    width: 250px; 
    height: 250px;
    border-radius: 30%;
    margin-left: 100px;
}

#Profile h1{
    display: flex;
    font-size: var(--font-large);
    margin-bottom: -15px;
    margin-top: -5px;
}

#Profile h2{
    font-size: var(--font-medium);
    margin-bottom: -15px;
}

#Profile h1,h2{
    margin-left: 70px;
}

/* imfo */
.email{
    display: flex;
    font-size: var(--font-regular);
    margin-left: 100px;
    margin-top: 10px;
}
.email i{
    margin-top: 20px;
    padding-right: 10px;
}

.email a{
    margin-top: 20px;
    font-size: var(--font-regular);
    color: white;
}

.Git{
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
}

.Git a{
    color: white;
}

.Git i{
    margin-right: 10px;
    font-size: var(--font-regular);
}
/* navbar */

#navbar{
    display: flex;
    justify-items: left;
    flex-direction: column;


}
.navbar__Logo{
    padding: 0 5%;
    align-items: center;
}
.navbar__Logo i {
    color: yellow;
    font-size: var(--font-large);
    
}

.navbar__menu{
    display: flex;
}

.navbar__item{
    list-style: none;
    padding: 0px 10px;
    margin: 0 4px;
    justify-items: center;
    font-size: var(--font-medium);
    color: #FCC957;

}
/* Show */

#Show {
    display: flex;
    flex-direction: column;
}
.space{
    padding-top: 50px;
}

.about{
    width: 60%;
    margin-left: 40%;
    background-color: var(--color-dark-grey);
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 30px;
    padding-bottom: 5%;
    border-radius: 10%;

}
.about h1{
    font-size: var(--font-large);
}

.about p{
    font-size: var(--font-medium);
    line-height: 200%;
    
}
/* Skill */

.Skill{
    width: 90%;
    display: flex;
    background-color: var(--color-dark-grey);
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 10%;
}

.Skill h1{
    font-size: var(--font-large);
}

.Skill .Skill__icon {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.Skill__icon i {
    font-size: 150px;
}

.HTML i{
    color: red;
}
.HTML span{
    display: flex;
    flex-direction: column;
    font-size: var(--font-medium);
}

.CSS i {
    color: blue;
}
.CSS span{
    display: flex;
    flex-direction: column;
    font-size: var(--font-medium);
}

.JavaScript i {
color: yellow;
}
.JavaScript span{
    display: flex;
    flex-direction: column;
    font-size: var(--font-medium);
}

/*  Project */

.Project{
    width: 90%;
    display: flex;
    background-color: var(--color-dark-grey);
    flex-direction: column;
    text-align: center;

}

/* Contact */

.Contact{
    width: 90%;
    display: flex;
    background-color: var(--color-dark-grey);
    flex-direction: column;
    text-align: center;
}