:root{
    /* color */
    --color-background-grey: #25272B;
    --color-white: #EAFFFF;
    --color-dark-grey: #202020;

    /* Font size */
    --font-large: 48px;
    --font-medium: 30px;
    --font-regular: 22px;
    --font-small: 16px;
    --font-micro: 14px;

}
body{
    background-color: var(--color-background-grey);
    color: var(--color-white);
    margin: 0px;
}
/* Profile */

#Profile {
    padding-top: 50px;
    padding-right: 12%;
    text-align: left;
    flex-direction: column;
    background-image: url(../img/star.gif);
    background-size: cover;
    margin-bottom: 0px;
    display: inline-block;
    position: sticky;
    padding-bottom: 11%;
    top: 0px;
}

#Profile img{
    display: flex;
    text-align: left;
    width: 250px; 
    height: 250px;
    border-radius: 30%;
    margin-left: 90px;
}

#Profile h1{
    display: flex;
    font-size: var(--font-large);
    margin-bottom: -15px;
    margin-top: 70px;
}

#Profile h2{
    font-size: var(--font-medium);
    margin-bottom: -15px;
}

#Profile h1,h2{
    margin-left: 70px;
}

/* imfo */
.email{
    display: flex;
    font-size: var(--font-regular);
    margin-left: 80px;
    margin-top: 10px;
}
.email i{
    margin-top: 20px;
    padding-right: 10px;
    color: skyblue;
}

.email a{
    margin-top: 20px;
    font-size: var(--font-regular);
    color: white;
    text-decoration: none;
}

.Git{
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
}

.Git a{
    color: white;
    text-decoration: none;
    
}

.Git i{
    margin-right: 10px;
    font-size: var(--font-regular);
    color: purple;
}
/* navbar */

#navbar{
    display: flex;
    flex-direction: column;

}

.navbar__menu{
    display: flex;
}

.navbar__item{
    list-style: none;
    padding: 0px 10px;
    margin: 0 4px;
    justify-items: center;
    font-size: var(--font-medium);
    color: #FCC957;
}

.item__About{
    position: fixed;
    top: 45%;
    right: 63%;
}

.item__Skill{
    position: fixed;
    top: 50%;
    right: 63%;
}

.item__Project{
    position: fixed;
    top: 55%;
    right: 63%;
}

.item__Contact{
    position: fixed;
    top: 60%;
    right: 63%;
}

/* Show */

#Show {
    display: flex;
    flex-direction: column;
}
.space{
    padding-top: 50px;
}

.about{
    width: 60%;
    margin-left: 39%;
    background-color: var(--color-dark-grey);
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 30px;
    padding-bottom: 5%;
    border-radius: 3%;

}
.about h1{
    display: flex;
    font-size: var(--font-large);
    margin-left: 50px;
    margin-top: 50px;
}

.about p{
    font-size: var(--font-medium);
    line-height: 200%;
    
}
/* Skill */

.Skill{
    width: 60%;
    background-color: var(--color-dark-grey);
    text-align: center;
    margin-left: 39%;
    padding-bottom: 10px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    

}

.Skill h1{
    display: flex;
    font-size: var(--font-large);
    margin-left: 50px;
    margin-top: 50px;
}

.Skill .Skill__icon {
    text-align: center;
}

.Skill__icon i {
    font-size: 100px;
}


.Skill__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Skill__item i{
    color: red;
    margin-left: 100px;
}

.Skill__Bar{

    width: 50%;
    height: 50px;
    background-color: slategrey;
    display: flex;
    border-radius: 20px;

}

.Skill_Value{
    height: 50px;
    background-color: saddlebrown;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
}
/* HTML */

.Html span{
    display: flex;
    margin-left: 170px;
    margin-bottom: 20px;
    font-size: var(--font-medium);
}


.CSS i {
    color: blue;
}
.CSS span{
    display: flex;
    margin-left: 180px;
    margin-bottom: 20px;
    font-size: var(--font-medium);
}

.JavaScript i {
color: yellow;
}
.JavaScript span{
    display: flex;
    margin-left: 150px;
    margin-bottom: 20px;
    font-size: var(--font-medium);
}

.React i{
    color: skyblue;
}

.React span{
    display: flex;
    margin-left: 170px;
    margin-bottom: 20px;
    font-size: var(--font-medium);
}

/*  Project */

.Project{
    width: 60%;
    background-color: var(--color-dark-grey);
    text-align: center;
    margin-left: 39%;
    padding-bottom: 100px;
    border-radius: 10%;
    

}

.Project h1{
    display: flex;
    font-size: var(--font-large);
    margin-left: 50px;
    margin-top: 50px;
}

.Project_item{

}
.Project_item span{
    display: flex;
    justify-content: center;
}
.Project_img img{
    width: 200px;
    height: 200px;
    padding-left: 20px;
}

.Project_item span{
    display: flex;
}